---
import config from "@/config";
import { Typography } from "@/components/ui/typography";
import Core from "../layouts/Core.astro";
---

<Core meta={{ title: config.title }}>
  <Typography as="h1" styleMod={["h1", "title", "blur"]}
    ><div class="bg-[rgba(0,0,0,0.4)] p-6 rounded-l">
      Old Growth Games
    </div></Typography
  ></Core
>
